# Weather Observation Station 5
Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

In [ ]:
select city,length(city) from station order by length(city),city limit 1;
select city,length(city) from station order by length(city) desc,city limit 1;

# Weather Observation Station 6
Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where lower(substr(city,1,1)) in ('a','e','i','o','u');

# Weather Observation Station 7
Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates

In [ ]:
select distinct(city) from station where lower(substr(city,length(city),1)) in ('a','e','i','o','u');
#also
select distinct(city) from station where lower(substr(city,-1,1)) in ('a','e','i','o','u');

# Weather Observation Station 8
Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where lower(substr(city,1,1)) in ('a','e','i','o','u') and lower(substr(city,length(city),1)) in ('a','e','i','o','u');

# Weather Observation Station 9
Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where lower(substr(city,1,1)) not in ('a','e','i','o','u');

# Weather Observation Station 10
Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where lower(substr(city,length(city),1))not  in ('a','e','i','o','u');

# Weather Observation Station 11
Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where lower(substr(city,1,1)) not in ('a','e','i','o','u') or lower(substr(city,length(city),1)) not  in ('a','e','i','o','u');

# Weather Observation Station 12
Query the list of CITY names from STATION that do not start with vowels and do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station where lower(substr(city,1,1)) not in ('a','e','i','o','u') and lower(substr(city,length(city),1)) not  in ('a','e','i','o','u');

# Higher Than 75 Marks
Query the Name of any student in STUDENTS who scored higher than  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

In [ ]:
SELECT NAME FROM STUDENTS WHERE MARKS > 75 ORDER BY RIGHT(NAME, 3), ID ASC;

# Employee Salaries
Write a query that prints a list of employee names (i.e.: the name attribute) for employees in Employee having a salary greater than  per month who have been employees for less than  months. Sort your result by ascending employee_id.

In [ ]:
select name from employee where months < 10 and salary > 2000 order by employee_id;

# Weather Observation Station 15
Query the Western Longitude (LONG_W) for the largest Northern Latitude (LAT_N) in STATION that is less than . Round your answer to  decimal places.

In [ ]:
select round(long_w,4) from station where lat_n = (select max(lat_n)from station where lat_n <137.2345);

# Weather Observation Station 16
Query the smallest Northern Latitude (LAT_N) from STATION that is greater than . Round your answer to  decimal places.

In [ ]:
select round(lat_n,4) from station where lat_n = (select min(lat_n) from station where lat_n > 38.7780);

# Weather Observation Station 17
Query the Western Longitude (LONG_W)where the smallest Northern Latitude (LAT_N) in STATION is greater than . Round your answer to  decimal places.

In [ ]:
select round(long_w,4) from station where lat_n = (select min(lat_n) from station where lat_n >38.7780);

# Weather Observation Station 18

Consider  and  to be two points on a 2D plane.

 happens to equal the minimum value in Northern Latitude (LAT_N in STATION).
 happens to equal the minimum value in Western Longitude (LONG_W in STATION).
 happens to equal the maximum value in Northern Latitude (LAT_N in STATION).
 happens to equal the maximum value in Western Longitude (LONG_W in STATION).
Query the Manhattan Distance between points  and  and round it to a scale of  decimal places.

In [ ]:

SELECT ROUND((MAX(LAT_N) - MIN(LAT_N) + MAX(LONG_W) - MIN(LONG_W)), 4) AS D
FROM STATION